/* Reseteo css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img, video{
    max-width: 100%;
}

/* Fuente de texto */

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Colores de fondo */

header{
    background-color: antiquewhite;
    padding: 20px;
}

body{
    background-color: aliceblue;
}

/* Barra de navegacion */

nav ul li{
    display: inline-block;
    text-decoration: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.barra-navegacion{
    display: flex;
    gap: 20px;
}

.icono{
    width: 100px;
    height: 100px;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-around;
}

/* Footer */

footer{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
}

footer div{
    margin: 10px;
}

.contacto{
    display: flex;
    justify-content: space-around;
}

.derechos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
}

.footer-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/*Estilos de index*/

.presentacion{
    border: 2px solid;
}

.presentacion a{
    border: solid 1px black;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    display: inline-block;
}

.index-catalogo{
    padding: 16px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.index-clases{
    padding: 16px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.info-index{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*Estilos de catalogo*/

.articulos{
    padding: 20px;
}

.catalogos img{
    width: 200px;
    height: 200px;
    padding: 20px;
}

.catalogos{
    border: 2px solid;
    margin: 10px;
}

.articulos{
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

span{
    display: flex;
    justify-content: flex-end;
}

.catalogos article{
    padding: 20px;
}

.articulos article{
    border: solid 1px black;
    border-radius: 5px;
}

/*Estilos de clases*/

.seccion-clases{
    display: flex;
    justify-content: space-around;
}

.clase-normal, .clase-personalizada{
    margin: 20px;
    padding: 20px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*Estilos de contacto*/

.formulario{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/*Estilo de nosotros*/
.nosotros{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.nosotros-primero, .nosotros-segundo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.nosotros video, img{
    height: 500px;
}

.nosotros{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
}

.fotos-nosotros{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.fotos-nosotros img{
    width: 300px;
    height: 300px;
}

    


