/* Reseteo de css */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul,ol{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

ul li a:hover{
    text-decoration: underline;
}

img, video{
    max-width: 100%;
}

/* Estilos del header */

header{
    background-color:antiquewhite;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.barra-navegacion{
    text-align: left;
}

.icono{
    width: 120px;
    height: 120px;
}

@media (min-width:768px){
    .nav-list{
        display: flex;
        gap: 20px;
    }
}

/* Estilos del footer */
footer{
    background-color:antiquewhite;
    padding: 1rem;
    text-align: center;
}

.contenedor-footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.derechos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sobre-nosotros{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacto{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-redes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.redes{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

@media (min-width:768px){
    .contenedor-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .derechos{
        align-self: center;
    }
}


/* Estilos de inicio */
.contenedor-inicio{
    display: flex;
    flex-direction: column;

}

.index-catalogo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
}

.index-catalogo a{
    background-color: coral;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    align-self: center;
}

.index-clases{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
}

.index-clases a{
    background-color: coral;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    align-self: center;
}

@media (min-width:768px){
    .contenedor-inicio{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .contenedor-inicio section{
        width: 50%;
    }

}

/* Estilos de catalogo */
.contenedor-catalogo{
    padding: 1rem;
}

.articulos{
    display: grid;
    grid-template-areas: 
    "articulo1"
    "articulo2"
    "articulo3"
    "articulo4";
    padding: 1rem;
    gap: 1rem;
}

.articulo1{
    grid-area: articulo1;
    padding: 8px;
    border: 1px solid black;
    border-radius: 1rem;
}
.articulo2{
    grid-area: articulo2;
    padding: 8px;
    border: 1px solid black;
    border-radius: 1rem;
}
.articulo3{
    grid-area: articulo3;
    padding: 8px;
    border: 1px solid black;
    border-radius: 1rem;
}
.articulo4{
    grid-area: articulo4;
    padding: 8px;
    border: 1px solid black;
    border-radius: 1rem;
}

.precio{
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

/* .articulo1:hover{
    background-color: red;
} */

@media (min-width:768px) {
    .articulos{
        display: grid;
        grid-template-areas: 
        "articulo1 articulo2"
        "articulo3 articulo4";
    }
}

@media (min-width:1200px){
    .articulos{
        display: grid;
        grid-template-areas: 
        "articulo1 articulo2 articulo3 articulo4";
    }
}


/* Estilos de clases */

.contenedor-clases{
    padding: 1rem;
}

.seccion-clases{
    display: flex;
    flex-direction: column;
}

.clase-normal, .clase-personalizada{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

@media (min-width:768px){
    .seccion-clases{
        display: flex;
        flex-direction: row;
        align-items: end;
    }
}

/* Estilos de contacto */
.contenedor-formulario{
    padding: 1rem;
}

.formulario{
    text-align: center;
    padding: 1rem;
}

/* Estilos de nosotros */
.contenedor-nosotros{
    padding: 1rem;
}

.nosotros{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nosotros-primero, .nosotros-segundo{
    padding: 1rem;
    text-align: center;
}

.fotos-nosotros{
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width:768px){
    .nosotros{
        display: flex;
        flex-direction: row;
    }

    .fotos-nosotros{
        display: grid;
        grid-template-rows: 1fr 1fr;

    }
}





