.titulo_clases{
    padding: $medida-principal;
}

.contenedorclases{
    padding: $medida-principal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__seccion{
        display: flex;
        flex-direction: column;
        gap: 20px;
        img{
            height: 100%;
            width: 100%;
        }
    }
}

.seccion{
    &__normal{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: $medida-principal;
        padding: $medida-principal;
        border: 1px solid $color-secundario;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        div{
            height: 600px;
            overflow: hidden;
        }
        .normal__btn{
            border: 1px solid $color-secundario;
            border-radius: 10px;
            width: 170px;
            align-self: center;
            background-color: $color-principal;
        }
    }

    &__personalizada{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: $medida-principal;
        padding: $medida-principal;
        border: 1px solid $color-secundario;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        div{
            height: 600px;
            overflow: hidden;
        }
        .personalizada__btn{
            border: 1px solid $color-secundario;
            border-radius: 10px;
            width: 170px;
            align-self: center;
            background-color: $color-principal;
        }
    }
}


@media (min-width:768px){
    .contenedorclases__seccion{
        display: flex;
        flex-direction: row;
        align-items: end;
    }
}