.titulo-clases {
    padding: $medida-principal;
}

.contenedorclases {
    padding: $medida-principal;
    @include flexbox(row);
    justify-content: center;

    &__seccion {
        @include flexbox(column);
        gap: 20px;

        @include mq-desktop {
            @include flexbox(row);
            align-items: end;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }
}

.seccion {
    &__normal {
        @include flexbox(column);
        text-align: center;
        gap: $medida-principal;
        padding: $medida-principal;
        border: 1px solid $color-secundario;
        border-radius: 10px;
        height: 100%;
        width: 100%;

        div {
            height: 600px;
            max-width: 600px;
            overflow: hidden;

        }
    }

    &__personalizada {
        @extend .seccion__normal;

        div {
            height: 600px;
            max-width: 600px;
            overflow: hidden;
        }
    }
}