.contenedorinicio {
    @include flexbox(column);

    @include mq-tablet {
        @include flexbox(row);
        width: 100%;
    }

    section {
        @include mq-tablet {
            width: 50%;
        }
    }

    &__presentacion {
        article {
            height: 630px;
            overflow: hidden;
            margin-bottom: 30px;
        }
    }
}

.presentacion {
    &__catalogo {
        @include flexbox(column);
        gap: $medida-principal;
        text-align: center;
        padding: $medida-principal;

        a {
            background-color: $color-principal;
            border: 1px solid $color-secundario;
            border-radius: 5px;
            width: 100px;
            height: 25px;
            align-self: center;
            transition: box-shadow 0.5s;

            &:hover {
                box-shadow: 0 0 $medida-principal #515151;
            }
        }

        div {
            height: 600px;
            overflow: hidden;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__clases {
        @include flexbox(column);
        gap: $medida-principal;
        text-align: center;
        padding: $medida-principal;

        a {
            background-color: $color-principal;
            border: 1px solid $color-secundario;
            border-radius: 5px;
            width: 100px;
            height: 25px;
            align-self: center;
            transition: box-shadow 0.5s;

            &:hover {
                box-shadow: 0 0 $medida-principal #515151;
            }
        }

        div {
            height: 600px;
            overflow: hidden;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }
}