.contenedorinicio {
    @include flexbox(column);

    @include mq-tablet {
        @include flexbox(row);
        width: 100%;
    }

    section {
        @include mq-tablet {
            width: 50%;
        }
    }

    &__presentacion {
        article {
            height: 630px;
            overflow: hidden;
            margin-bottom: 30px;
        }
    }
}

.presentacion {
    &__catalogo {
        @include flexbox(column);
        gap: $medida-principal;
        text-align: center;
        padding: $medida-principal;

        div {
            height: 500px;
            overflow: hidden;
        }

        &-img {
            max-height: 600px;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__clases {
        @extend .presentacion__catalogo;

        div {
            height: 600px;
            overflow: hidden;
        }

        &-img {
            max-height: 600px;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }
}

.scale-up-center {
    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}