.titulo-nosotros {
    padding: $medida-principal;
}

.seccionnosotros {
    padding: $medida-principal;
    @include flexbox(column);
    gap: $medida-principal;

    @include mq-tablet {
        @include flexbox(row);
    }

    &__primero {
        @include flexbox(column);
        gap: 20px;
        padding: $medida-principal;
        text-align: center;
    }

    &__segundo {
        @extend .seccionnosotros__primero;
    }
}

.contenedoropiniones {
    padding: $medida-principal;

    &__clientes {
        @include flexbox(column);
        align-items: center;
        gap: ($medida-principal * 2);
        padding: ($medida-principal * 2);

        .clientes__primera {
            display: flex;
            gap: ($medida-principal * 2);
            max-height: 400px;

            .primera__opinion {
                align-self: center;
            }
        }

        .clientes__segunda {
            display: flex;
            gap: ($medida-principal * 2);
            max-height: 400px;

            .segunda__opinion {
                align-self: center;
            }
        }
    }
}

.img-cliente {
    height: 100px;
    width: 100px;
}