.contenedorarticulos__articulo {
    padding: $medida-principal;
    border: 1px solid $color-secundario;
    border-radius: 8px;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 $medida-principal $color-sombra;

        img {
            transform: scale(1.2);
        }
    }

    .articulo__img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        overflow: hidden;

        img {
            transition: all 0.5s
        }
    }

    .articulo__precio {
        padding-top: ($medida-principal - 0.5);
        display: inline-block;
        display: flex;
        justify-content: space-between;
    }
}