footer {
    background-color: $color-principal;
    padding: $medida-principal;
    text-align: center;
}

.contenedorfooter {
    @include flexbox(column);
    gap: 20px;

    @include mq-tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__derechos {
        @include flexbox(column);
        gap: 20px;
        justify-content: space-around;

        @include mq-tablet {
            align-self: center;
        }
    }

    &__contacto {
        @include flexbox(column);
        gap: 20px;
        justify-content: space-around;

        .contacto__lista {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin: 0;
            padding: 0;
        }
    }

    &__redes {
        @include flexbox(column);
        gap: $medida-principal;
        justify-content: space-around;

        .redes__lista {
            display: flex;
            justify-content: center;
            justify-content: space-around;
            margin: 0;
            padding: 0;

        }
    }
}