header {
    background-color: $color-principal;
    padding: $medida-principal;
    padding-left: ($medida-principal * 5);
    padding-right: ($medida-principal * 5);
}

.navbar {
    @include flexbox(row);
    justify-content: space-between;
    align-items: center;
    background-color: $color-principal;
}

.barra-navegacion {
    text-align: left;

}

.navbar-menu {
    text-align: right;
}


.icono {
    width: 120px;
    height: 120px;
}