header {
    background-color: $color-principal;
    padding: $medida-principal;
}

.navbar {
    @include flexbox(row);
    justify-content: space-between;
    align-items: center;
    background-color: $color-principal;
}

.nav-item a {
    @include mq-tablet {
        transition: all 0.5s;

        &:hover {
            transform: scale(1.2);
        }
    }

}

.barra-navegacion {
    text-align: left;

}

.navbar-menu {
    text-align: right;
}

.iconoHeader img {
    width: 150px;
    height: 150px;
    transition: all 0.5s;

    &:hover {
        transform: scale(1.2);
    }
}