.tituloprincipal {
    font-size: 2rem;
    text-align: center;
    padding: ($medida-principal);
    color: antiquewhite;
    text-shadow: 1px 1px 2px black;
}

.tracking-in-expand {
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}